<section class="outer-container">
    <div class="inner-container" *ngIf="post">

        <mat-card class="rounded-corners box-shadow post">
            <mat-card-content>
                <header class="username-container">
                    <div class="profile-img-wrapper">
                        <img class="profile-img" [src]="post.postedBy.profileUrl" alt="Profile Picture">
                    </div>
                    <a [routerLink]="['/users', post.postedBy.username]"
                        class="username">{{post.postedBy.username | titlecase}}</a>
                </header>
                <div class="title-post-date">
                    <span class="post-title">{{post.title}}</span>
                    <span class="post-date">{{post.datePosted | date: 'MMM d y, h:mm a'}} <i
                            class="fas fa-clock"></i></span>
                </div>
                <p>{{post.content}}</p>
                <div class="buttons-container-space-between">
                    <section>
                        <button mat-icon-button color="primary" class="like-post-button-container"
                            (click)="updatePostLikes()">
                            <span>
                                <mat-icon [fontIcon]="'fa-thumbs-up'" [fontSet]="'far'"></mat-icon>
                                <span>{{post.numLikes}}</span>
                            </span>
                        </button>
                        <button mat-icon-button color="warn" class="dislike-post-button-container"
                            (click)="updatePostDislikes()">
                            <span>
                                <mat-icon [fontIcon]="'fa-thumbs-down'" [fontSet]="'far'"></mat-icon>
                                <span>{{post.numDislikes}}</span>
                            </span>
                        </button>
                    </section>
                    <section
                        *ngIf="loggedInUser?.role === 'admin' || post.postedBy.username === loggedInUser?.username">
                        <button class="delete-post-button" (click)="openDeletePostDialog()" mat-flat-button
                            color="warn">
                            <span>
                                Delete <i class="fas fa-trash-alt"></i>
                            </span>
                        </button>
                        <button mat-flat-button color="primary" (click)="openEditPostDialog()">
                            <span>
                                Edit <i class="fas fa-edit"></i>
                            </span>
                        </button>
                    </section>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="buttons-container-right">
            <button mat-raised-button color="primary" (click)="openCreateCommentDialog()">
                <span>
                    Add Comment <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>

    </div>
</section>