<section class="outer-container">
    <div class="inner-container">

        <div class="no-fandom-message" *ngIf="!fandom">
            <h1>Unfortunately, there are no {{fandomName | hyphenToSpaces | titlecase}} fandom</h1>
        </div>

        <header class="fandom-name" *ngIf="fandom">{{fandomName | hyphenToSpaces | titlecase}}</header>
        <div class="flex-row-container-space-between join-create-post-buttons-container" *ngIf="fandom">
            <button mat-raised-button color="primary" (click)="joinFandom()" *ngIf="!hasUserJoinedFandom">
                <span>
                    Join Fandom
                </span>
            </button>
            <button mat-raised-button color="primary" (click)="removeFromFandom()" *ngIf="hasUserJoinedFandom">
                <span>
                    Unjoin Fandom
                </span>
            </button>
            <button mat-raised-button color="primary" (click)="openCreatePostDialog()" *ngIf="hasUserJoinedFandom">
                <span>
                    Create Post <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>

        <section class="posts-events" *ngIf="fandom">
            <div class="posts">

                <div *ngIf="!postsForFandom.length" class="no-posts-message">
                    <h1>It seems there are no posts yet. Join the fandom to create one!</h1>
                </div>

                <mat-card class="rounded-corners box-shadow post" *ngFor="let post of postsForFandom">
                    <mat-card-content>
                        <header class="username-container">
                            <div class="profile-img-wrapper">
                                <img class="profile-img" [src]="post.postedBy.profileUrl" alt="Profile Picture">
                            </div>
                            <span [routerLink]="['/users', post.postedBy.username]"
                                class="username">{{post.postedBy.username | titlecase}}</span>
                        </header>
                        <div class="title-post-date">
                            <span class="post-title">{{post.title}}</span>
                            <span class="post-date">{{post.datePosted | date: 'MMM d y, h:mm a'}} <i
                                    class="fas fa-clock"></i></span>
                        </div>
                        <p>{{(post.content.length > 120) ? (post.content | slice : 0 : 120) + '...': (post.content)}}
                        </p>
                        <div class="flex-row-container-space-between">
                            <div>
                                <button mat-icon-button color="primary" class="like-post-button-container"
                                    (click)="updatePostLikes(post)">
                                    <span>
                                        <mat-icon [fontIcon]="'fa-thumbs-up'" [fontSet]="'far'"></mat-icon>
                                        <span>{{post.numLikes}}</span>
                                    </span>
                                </button>
                                <button mat-icon-button color="warn" class="dislike-post-button-container"
                                    (click)="updatePostDislikes(post)">
                                    <span>
                                        <mat-icon [fontIcon]="'fa-thumbs-down'" [fontSet]="'far'"></mat-icon>
                                        <span>{{post.numDislikes}}</span>
                                    </span>
                                </button>
                            </div>
                            <button mat-flat-button color="accent" [routerLink]="['posts', post.id]">
                                <span>
                                    Read More <i class="fas fa-hand-point-right"></i>
                                </span>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-card class="events rounded-corners box-shadow">
                <mat-card-title>Upcoming Events</mat-card-title>

                <mat-card-content class="no-events-message" *ngIf="!eventsForFandom.length">
                    <h1>Unfortunately, there are no events planned for the fandom</h1>
                </mat-card-content>

                <mat-card-content class="event-items" *ngIf="eventsForFandom.length">
                    <app-events-summary-card class="event-summary" [events]="eventsForFandom"></app-events-summary-card>
                </mat-card-content>
            </mat-card>

        </section>
    </div>
</section>