<section class="outer-container">
    <div class="inner-container">
        <div class="buttons-container-right">
            <button mat-raised-button color="primary" (click)="openDialog()">Create Event</button>
        </div>

        <div *ngIf="!events.length" class="empty">
            <h1 class="center-pos">It seems there are no events. Create one using the button above!</h1>
        </div>

        <mat-card class="event-card rounded-corners" *ngFor="let event of events">
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-content>
                <div class="location-date-range">
                    <span>{{event.startDate | date: 'MMM d y, h:mm a'}} -
                        {{event.endDate | date: 'MMM d y, h:mm a'}}</span>
                    <div class="location-num-people-attending">
                        <span>{{event.location}}</span>
                        <span class="num-people-attending">{{event.totalAttendance}} People Attending</span>
                    </div>
                </div>
                <article>
                    <header class="about-title">About</header>
                    <p>{{ (event.description.length > 200) ? (event.description | slice : 0 : 200) + '...': (event.description) }}
                    </p>
                </article>
                <p class="created-by">Created By: <a
                        [routerLink]="['/users', event.postedBy]">{{event.postedBy | titlecase}}</a>
                </p>
                <p>
                    Fandom: <a
                        [routerLink]="['/fandoms', event.fandomType.name]">{{event.fandomType.name | titlecase}}</a>
                </p>
                <div class="buttons-container-right">
                    <button class="delete-event-button"
                        *ngIf="user?.role === 'admin' || user?.username === event.postedBy"
                        (click)="openDeleteDialog(event.id)" mat-flat-button color="warn">Delete</button>
                    <button [routerLink]="['/events', event.id]" mat-flat-button color="accent">More
                        Details</button>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-paginator class="paginator" [length]="allEvents.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [pageSizeOptions]="pageSizeOptions" (page)="selectPage($event)" color="accent">
        </mat-paginator>
    </div>
</section>