.events-container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px

    .event-card
        padding: 20px
        width: 80%
        margin-bottom: 30px

        .location-date-range
            display: flex
            justify-content: space-between
            font-weight: bold
            margin-bottom: 25px

            .location-num-people-attending
                display: flex
                flex-direction: column
                align-items: flex-end

                .num-people-attending
                    font-weight: normal

        .about-title
            font-weight: bold
            margin-bottom: 7px

        .delete-event-button
            margin-right: 16px
