<mat-paginator [length]="events.length"
              [pageSize]="pageSizeOptions[1]"
              [pageSizeOptions]="pageSizeOptions">
</mat-paginator>

<div class="button-container">
    <div class="create" (click)="openDialog()"><button mat-raised-button color="primary">Create Event</button></div>
</div>

<div *ngIf="this.events.length === 0" class="empty">
    <h1 class="center-pos"> Sorry, no events taking place </h1>
</div>

<div *ngFor="let event of events; let i = index">
    <mat-card class="event-card">
        <mat-card-content>
            <div class="event-container">
                <div>
                    <h2>{{event.name}}</h2>
                </div>
                <div class="flex-container header">
                    <h4 class="flex-one">{{event.location}}</h4>
                    <h4 class="date">{{event.startDate | date:'mediumDate'}} - {{event.endDate | date:'mediumDate'}}</h4>
                </div>
                <div class="desc">{{event.description}}</div>
                <div><u>Total People Attending</u>: {{event.totalAttendance}} </div>

                <div class="flex-container footer">
                    <div class="flex-one postedBy"><u>Posted By</u>: {{event.postedBy}}</div>
                    <div class="delete" *ngIf="this.isAdmin" (click)="delete(event.id)"><button mat-raised-button
                            color="warn">Delete</button></div>
                    <div class="more"><button mat-raised-button color="accent">See More</button></div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>