<mat-toolbar color="accent" class="container">
    <section>
        <span class="mat-title">About</span>
        <p class="mat-body-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias harum eveniet
            deserunt distinctio
            numquam
            nostrum commodi nihil id enim obcaecati, iusto temporibus sunt a explicabo suscipit veritatis ea sequi
            quo!
        </p>
    </section>
    <p class="mat-body-1">© 2021. All Rights Reserved.</p>
</mat-toolbar>