section
    display: flex
    justify-content: center
    align-items: center
    height: 87vh

.login-container
    width: 330px
    height: 280px
    padding: 45px

.header
    margin-bottom: 15px

.sign-up-footer
    text-align: center
    margin-bottom: 0

.button-action-container
    margin-top: 10px
    margin-bottom: 10px
    display: flex
    justify-content: flex-end

.error-message
    color: #f44336
    margin-bottom: 0
    margin-top: 10px
