<section>
    <mat-card class="login-container">
        <mat-card-title class="header">Log In</mat-card-title>
        <form #logInForm="ngForm" (ngSubmit)="onLogIn()">
            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="username" name="username" required autocomplete="off" />
                    <mat-error>Username is a required field</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field color="accent">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" name="password" [type]="hidePassword ? 'password' : 'text'"
                        required autocomplete="off" />
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Password is a required field</mat-error>
                </mat-form-field>
            </div>
            <a [routerLink]="'/forgot-password'">Forgot password?</a>
            <p *ngIf="loginError" class="mat-body error-message">{{loginError}}</p>
            <div class="button-action-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="!logInForm.valid"
                    [class.loading-animation]="isLoggingIn">
                    {{isLoggingIn ? 'Logging In': 'Log In'}}
                </button>
            </div>
        </form>
        <mat-card-footer class="sign-up-footer mat-body">
            <p>Don't have an account? <a [routerLink]="'/signup'">Sign up now!</a></p>
        </mat-card-footer>
    </mat-card>
</section>