#background
    overflow: auto
    margin: 0px
    width: viewport
    height: 100vh
    background: cream
    #login_container
        padding: 50px
        width: 350px
        height: 40%
        margin: 12% auto
        border-radius: 5px
        color: black
        background: lightgrey
    #login_title
        font-weight: bold
        margin-bottom: 50px
    #error_message
        color: red
    input
        border: none
        background: white
        width: 94%
        border-radius: 5px
        padding: 10px
        margin: 10px 0
    button
        border: none
        color: primary
        border-radius: 5px
        background: button-color
        width: 100%
        margin: 5% 0 7% 0
        padding: 3px
    #signup_instruction
        margin-top: 20px

