<h1 mat-dialog-title>Add Review</h1>

<section mat-dialog-content class="mat-typography">
    <form (ngSubmit)="addReview()" #addReviewForm="ngForm">
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="newReview.title" name="title" required pattern=".*\S+.*"
                    autocomplete="off">
                <mat-error>Title is a required field</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Rating</mat-label>
                <mat-select id="rating" name="rating" [(ngModel)]="newReview.rating" required>
                    <mat-option>--Select Rating--</mat-option>
                    <mat-option *ngFor="let rating of ratings" [value]="rating">
                        {{rating}}
                    </mat-option>
                </mat-select>
                <mat-error>Rating is a required field</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Review</mat-label>
                <textarea class="description-field" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3" cdkTextareaAutosize matInput [(ngModel)]="newReview.content"
                    name="description" required pattern=".*\S+.*" autocomplete="off"></textarea>
                <mat-error>Review is a required field</mat-error>
            </mat-form-field>
        </div>
    </form>
</section>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="basic">Cancel</button>
    <button mat-flat-button color="primary" (click)="addReviewForm.ngSubmit.emit()"
        [disabled]="!addReviewForm.form.valid">
        <span>
            Add <i class="fas fa-plus"></i>
        </span>
    </button>
</mat-dialog-actions>