<nav>
    <mat-toolbar color="accent" class="navbar">
        <section>FanCrowd</section>
        <section>
            <mat-form-field class="user-search">
                <input type="text"
                    placeholder="Pick one"
                    aria-label="Number"
                    matInput
                    [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
        </section>
        <section>
            <span *ngIf="!user" class="nav-item" [routerLink]="'/login'" routerLinkActive="active">Login</span>
            <span *ngIf="!user" class="nav-item" [routerLink]="'/signup'" routerLinkActive="active">Signup</span>
            <span *ngIf="user" class="nav-item" [routerLink]="['/users', user?.username || '']"
                routerLinkActive="active"><i class="far fa-user"></i> {{user?.username}}</span>
            <span *ngIf="user" class="nav-item" [routerLink]="'/events'" routerLinkActive="active">Events</span>
            <span *ngIf="user" class="nav-item" [routerLink]="'/discussion-boards'" routerLinkActive="active">Browser</span>
            <span *ngIf="user" class="nav-item" [routerLink]="'/calendar'" routerLinkActive="active">Calendar</span>
            <span *ngIf="user" class="nav-item" [routerLink]="'/login'" (click)="onLogOut()">Log Out</span>
        </section>
    </mat-toolbar>
</nav>
