<app-layout>
    <xng-breadcrumb class="breadcrumb" [separator]="breadcrumbSeparator">
        <ng-container *xngBreadcrumbItem="let breadcrumb">
            <ng-container>{{ breadcrumb | titlecase }}</ng-container>
        </ng-container>
    </xng-breadcrumb>

    <div class="flex-row-container-space-between add-fandom-button-container">
        <header>
            <div class="flex-row-container-space-between margin-bottom-2" *ngIf="isAdmin">
                <i class="fas fa-trash-alt delete-icon" (click)="openDeleteCategoryDialog()"></i>
                <i class="fas fa-edit edit-icon" (click)="openEditCategoryDialog()"></i>
            </div>
            <span class="page-title">
                {{categoryName | titlecase}}
            </span>
        </header>
        <button (click)="openCreateFandomDialog()" mat-raised-button color="primary">
            <span>
                Create Fandom <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>

    <div *ngIf="!fandoms.length && !isLoading" class="no-fandoms-message">
        <h1>No fandoms found. Create one using the button above!</h1>
    </div>

    <section class="fandoms" [class.fandoms-loading]="isLoading">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <mat-card *ngFor="let fandom of fandoms" style="background-image: url({{fandom.backgroundURL}})"
            class="fandom-card rounded-corners box-shadow"
            [routerLink]="['/fandoms', categoryName, fandom.name | spacesToHyphen | lowercase]">
            <mat-card-content class="card-body">
                <h1 class="name">{{fandom.name | titlecase}}</h1>
            </mat-card-content>
        </mat-card>
    </section>
</app-layout>

<ng-template #breadcrumbSeparator>
    <i class="fas fa-caret-right"></i>
</ng-template>