<section class="outer-container">
    <div class="inner-container">

        <xng-breadcrumb class="breadcrumb" [separator]="breadcrumbSeparator">
            <ng-container *xngBreadcrumbItem="let breadcrumb">
                <ng-container>{{ breadcrumb | titlecase }}</ng-container>
            </ng-container>
        </xng-breadcrumb>

        <div class="flex-row-container-space-between add-fandom-button-container">
            <header class="page-title">{{category | titlecase}}</header>
            <button (click)="openCreateFandomDialog()" mat-raised-button color="primary">
                <span>
                    Create Fandom <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>

        <div *ngIf="!fandoms.length" class="no-fandoms-message">
            <h1>It seems there are no fandoms for {{category | titlecase}}. Create one using the button above!</h1>
        </div>

        <section class="fandoms" *ngIf="fandoms.length">
            <mat-card *ngFor="let fandom of fandoms" style="background-image: url({{fandom.backgroundUrl}})"
                class="fandom-card rounded-corners box-shadow"
                [routerLink]="['/fandoms', category, fandom.name | spacesToHyphen | lowercase]">
                <mat-card-content class="card-body">
                    <h1 class="name">{{fandom.name}}</h1>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
</section>

<ng-template #breadcrumbSeparator>
    <i class="fas fa-caret-right"></i>
</ng-template>