<h1 mat-dialog-title>{{isEditing ? 'Edit Comment': 'Add Comment'}}</h1>
<section mat-dialog-content>
    <form (ngSubmit)="onCreateComment()" #createCommentForm="ngForm">
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="comment.title" name="title" required pattern=".*\S+.*" autocomplete="off"
                    #titleField="ngModel" />
                <mat-error *ngIf="titleField.errors?.required">Title is a required field</mat-error>
                <mat-error *ngIf="titleField.errors?.pattern">Please enter a valid title</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Content</mat-label>
                <textarea #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    cdkTextareaAutosize matInput [(ngModel)]="comment.content" name="content" pattern=".*\S+.*" required
                    autocomplete="off"></textarea>
                <mat-error>Content is a required field</mat-error>
            </mat-form-field>
        </div>
    </form>

    <span class="error">{{errorMsg}}</span>
</section>

<div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="basic" type="button" [disabled]="isLoading">
        Cancel
    </button>
    <button mat-flat-button color="primary" (click)="createCommentForm.ngSubmit.emit()"
        [disabled]="!createCommentForm.form.valid || isLoading" *ngIf="!isEditing">
        <div class="flex-row-container-space-between">
            <span *ngIf="!isLoading">Add <i class="fas fa-plus"></i></span>
            <span class="margin-right-2" *ngIf="isLoading">Adding</span>
            <app-spinner *ngIf="isLoading" [diameter]="25"></app-spinner>
        </div>
    </button>
    <button mat-flat-button color="primary" (click)="onEditComment()"
        [disabled]="!createCommentForm.form.valid || isLoading" *ngIf="isEditing">
        <div class="flex-row-container-space-between">
            <span *ngIf="!isLoading">Confirm <i class="fas fa-check"></i></span>
            <span class="margin-right-2" *ngIf="isLoading">Updating</span>
            <app-spinner *ngIf="isLoading" [diameter]="25"></app-spinner>
        </div>
    </button>
</div>