<div id='background'>
    <div id='login_container'>
        <h1 id='login_title'>Sign Up</h1>
        <div><input [(ngModel)]="firstname" placeholder="First Name"></div>
        <div><input [(ngModel)]="lastname" placeholder="Last Name"></div>
        <div><input [(ngModel)]="username" placeholder="username"></div>
        <div><input type="password" [(ngModel)]="password" placeholder="Password"></div>
        <div><input type="password" [(ngModel)]="passwordConfirm" placeholder="Confirm Password"></div>
        <div id='error'> {{errorMessage}} </div>
        <button mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button>
    </div>
</div>

