section
    display: flex
    justify-content: center
    margin: 40px 0

.signup-container
    width: 25%
    padding: 55px

.header
    margin-bottom: 15px

.error-message
    color: #f44336
    margin-bottom: 0
