section
    display: flex
    justify-content: center
    align-items: center
    height: 89vh

.signup-container
    width: 70%
    padding: 35px

.log-in-footer
    text-align: center

.header
    margin-bottom: 15px

.button-action-container
    display: flex
    justify-content: flex-end

.error-message
    color: #C2185B
    margin-bottom: 0
