<app-layout>
    <xng-breadcrumb class="breadcrumb" [separator]="breadcrumbSeparator">
        <ng-container *xngBreadcrumbItem="let breadcrumb">
            <ng-container>{{ breadcrumb | hyphenToSpaces | titlecase }}</ng-container>
        </ng-container>
    </xng-breadcrumb>

    <header>
        <div class="margin-bottom-2 flex-row-container-space-between">
            <i class="fas fa-trash-alt delete-icon" (click)="openDeleteFandomDialog()"></i>
            <i class="fas fa-edit edit-icon" (click)="openEditFandomDialog()"></i>
        </div>
        <span class="page-title">
            {{fandomName | hyphenToSpaces | titlecase}}
        </span>
    </header>
    <div class="flex-row-container-space-between join-create-post-buttons-container">
        <button mat-raised-button color="primary" (click)="toggleFandomJoin()">
            <span>
                {{hasUserJoinedFandom ? "Leave": "Join"}} Fandom
            </span>
        </button>
        <button mat-raised-button color="primary" (click)="openCreatePostDialog()">
            <span>
                Create Post <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>

    <section class="posts-events">
        <div class="posts" [class.posts-loading]="isLoadingPosts">

            <app-spinner *ngIf="isLoadingPosts"></app-spinner>
            <div *ngIf="!posts.length && !isLoadingPosts" class="no-posts-message">
                <h1>No posts found. Create one using the button above!</h1>
            </div>

            <mat-card class="rounded-corners box-shadow post" *ngFor="let post of posts">
                <mat-card-content>
                    <header class="username-container">
                        <div class="profile-img-wrapper">
                            <img class="profile-img" [src]="post!.postedBy!.profileURL" alt="Profile Picture">
                        </div>
                        <a [routerLink]="['/users', post!.postedBy!.username]"
                            class="username">{{post!.postedBy!.username | titlecase}}</a>
                    </header>
                    <div class="title-post-date">
                        <span class="post-title">{{post.title}}</span>
                        <span class="post-date">{{post.createdAt | date: 'MMM d y, h:mm a'}} <i
                                class="fas fa-clock"></i></span>
                    </div>
                    <p>{{(post.content.length > 120) ? (post.content | slice : 0 : 120) + '...': (post.content)}}
                    </p>
                    <div class="flex-row-container-space-between">
                        <div>
                            <button mat-icon-button color="primary" class="like-post-button-container"
                                (click)="updatePostLikes(post)">
                                <span>
                                    <mat-icon [fontIcon]="'fa-thumbs-up'" [fontSet]="'far'"
                                        *ngIf="!isUserInLikes(post!.likes!)"></mat-icon>
                                    <mat-icon [fontIcon]="'fa-thumbs-up'" [fontSet]="'fas'"
                                        *ngIf="isUserInLikes(post!.likes!)"></mat-icon>
                                    <span>{{post!.likes!.length}}</span>
                                </span>
                            </button>
                            <button mat-icon-button color="warn" class="dislike-post-button-container"
                                (click)="updatePostDislikes(post)">
                                <span>
                                    <mat-icon [fontIcon]="'fa-thumbs-down'" [fontSet]="'far'"
                                        *ngIf="!isUserInLikes(post!.dislikes!)"></mat-icon>
                                    <mat-icon [fontIcon]="'fa-thumbs-down'" [fontSet]="'fas'"
                                        *ngIf="isUserInLikes(post!.dislikes!)"></mat-icon>
                                    <span>{{post!.dislikes!?.length}}</span>
                                </span>
                            </button>
                        </div>
                        <button mat-flat-button color="primary" [routerLink]="['posts', post._id]">
                            <span>
                                Read More <i class="fas fa-hand-point-right"></i>
                            </span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="events rounded-corners box-shadow">
            <mat-card-title>Upcoming Events</mat-card-title>

            <mat-card-content class="no-events-message" *ngIf="!events.length && !isLoadingEvents">
                <h1>No events planned</h1>
            </mat-card-content>

            <mat-card-content class="event-items" [class.events-loading]="isLoadingEvents">
                <app-spinner *ngIf="isLoadingEvents"></app-spinner>
                <app-events-summary-card class="event-summary" [events]="events"></app-events-summary-card>
            </mat-card-content>
        </mat-card>

    </section>
</app-layout>

<ng-template #breadcrumbSeparator>
    <i class="fas fa-caret-right"></i>
</ng-template>