.button-div
    margin: 0px 0px 0px 0px

.more
    float: left

.button-container
    margin: 16px 0px 24px 24px

    #review
        margin: 16px 48px 24px 0px
        float: right

.event-card
    width: auto
    max-height: auto
    margin: 24px
    border-radius: 6px

.event-container
    margin: 16px

.flex-container
    display: flex

.header
    margin-bottom: 8px
    align-content: flex-end

.footer
    margin-top: 24px

.desc
    margin-bottom: 36px
    overflow: hidden !important
    text-overflow: ellipsis

.flex-one
    flex: 1

.postedBy
    margin-top: 6px

.inline-view
    display: inline-block
    margin-left: 800px

.delete
    margin-right: 16px

.center-pos
    text-align: center
    margin-top: 25vh
    margin-bottom: 30vh

.highlight
    color: #02c73d

.user-highlight
    color: #4169e1

.spacer
    margin-top: 120px

.review-card
    width: auto
    max-height: auto
    margin: 0px 168px 36px 168px
    border-radius: 6px

.poster
    display: inline-block
    text-align: center

.profile-img
    width: 72px
    height: 72px
    border-radius: 120px

.divider
    display: inline-block
    border-left: 1.5px solid black
    height: 120px
    margin: 0px 24px 0px 24px

.review-content
    display: inline-block
