<section class="container">
    <app-spinner *ngIf="!user"></app-spinner>
    <div class="profile-info-container" *ngIf="user">
        <section class="profile-img-info-container">
            <div class="profile-img-wrapper">
                <img class="profile-img" src="{{user.profileUrl}}" alt="Profile Picture">
            </div>
            
            <mat-card class="user-info">
                <mat-card-content>
                    <p class="user-info-item"><span class="user-info-label">Username
                        </span><span>{{user?.username}}</span></p>
                    <p class="user-info-item"><span class="user-info-label">Full Name
                        </span><span>{{user?.fullName | titlecase}}</span></p>
                    <p class="user-info-item"><span class="user-info-label">E-mail </span><span>{{user?.email}}</span>
                    </p>
                    <p class="user-info-item"><span class="user-info-label">Country
                        </span><span>{{user?.country}}</span></p>
                    <p class="user-info-item"><span class="user-info-label">City </span><span>{{user?.city}}</span></p>
                    <div class="profile-action-button-container">
                        <button mat-raised-button color="primary" *ngIf="loggedInUser?.username === user?.username"
                            (click)="openEditAccountDialog()"><i class="fas fa-edit"></i> Edit
                            Info</button>
                        <button mat-raised-button color="warn" *ngIf="loggedInUser?.username === user?.username"
                            (click)="openDeleteAccountDialog()"><i class="fas fa-user-times"></i> Delete
                            Account</button>
                        <button mat-raised-button color="warn" *ngIf="loggedInUser?.role === 'admin'"
                            (click)="openBanUserAccountDialog()"><i class="fas fa-ban"></i> Ban User</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </section>
        <section class="bio-fandom-container">
            <mat-card class="bio">
                <mat-card-title>Bio</mat-card-title>
                <mat-card-content>
                    <p>{{user?.bio}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="fandom-container">
                <mat-card-title>Fandoms</mat-card-title>
                <section class="fandoms">
                    <mat-card-content>
                        <p class="fandom-header"><span>Name</span><span>Level</span></p>
                        <mat-card class="fandom-item-container" *ngFor="let fandom of user?.fandoms">
                            <p class="fandom-item"><span>{{fandom.name}}</span><span>{{fandom.activityLevel}}</span></p>
                        </mat-card>
                    </mat-card-content>
                </section>
            </mat-card>
        </section>
        <mat-card class="events-container">
            <mat-card-title>Events Attending</mat-card-title>
            <section class="events">
                <mat-card class="event-item-container" *ngFor="let event of user?.attendingEvents"
                    [routerLink]="[ '/events', event.id ]">
                    <mat-card-content>
                        <p class="event-header">
                            <span>{{event.name | titlecase}}</span><span>{{event.date | date:'mediumDate'}}</span>
                        </p>
                        <p class="event-stats">Total Attending <span>{{event.totalAttending}}</span></p>
                    </mat-card-content>
                </mat-card>
            </section>
        </mat-card>
    </div>
</section>