section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 85vh

.forgot-password-stepper-container
    width: 70%
    padding: 35px

.page-heading
    margin-bottom: 15px
