<section class="container">
    <h3 class="mat-display-1 page-heading">Password Reset</h3>
    <mat-horizontal-stepper linear #stepper class="forgot-password-stepper-container">
        <mat-step [stepControl]="firstStepForm" [editable]="stepper.selectedIndex === 1">
            <form [formGroup]="firstStepForm" (keydown.enter)="$event.preventDefault()">
                <ng-template matStepLabel>Email & Username</ng-template>
                <div class="form-group">
                    <mat-form-field color="accent">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" autocomplete="off" required>
                        <mat-error *ngIf="firstStepForm.get('username')?.hasError('required')">Username is a required
                            field
                        </mat-error>
                        <mat-error *ngIf="firstStepForm.get('username')?.hasError('pattern')">Usernames can only
                            contain lowercase characters,
                            digits, and
                            underscores
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" autocomplete="off" required>
                        <mat-error *ngIf="firstStepForm.get('email')?.hasError('required')">Email is a required
                            field
                        </mat-error>
                        <mat-error *ngIf="firstStepForm.get('email')?.hasError('pattern')">Please enter a valid email
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-buttons-container-right">
                    <button mat-raised-button color="primary" type="button"
                        [disabled]="firstStepForm.invalid || sendingVerificationCode"
                        [class.loading-animation]="sendingVerificationCode"
                        (click)="sendVerificationCode(stepper)">{{sendingVerificationCode ? 'Sending Verification Code': 'Send
                        Verfication
                        Code'}}</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondStepForm" [editable]="false">
            <form [formGroup]="secondStepForm" (keydown.enter)="$event.preventDefault()">
                <ng-template matStepLabel>New Password</ng-template>
                <div class="form-group">
                    <mat-form-field color="accent">
                        <mat-label>Verification Code</mat-label>
                        <input matInput formControlName="verificationCode" type="number" required>
                        <mat-error *ngIf="secondStepForm.get('verificationCode')?.hasError('required')">Verification
                            Code is a required field
                        </mat-error>
                    </mat-form-field>
                </div>
                <div formGroupName="passwords">
                    <div class="form-group">
                        <mat-form-field color="accent">
                            <mat-label>New Password</mat-label>
                            <input matInput formControlName="newPassword" [type]="hidePassword ? 'password': 'text'"
                                required>
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="secondStepForm.get('passwords.newPassword')?.hasError('required')">
                                Password is a
                                required
                                field
                            </mat-error>
                            <mat-error *ngIf="secondStepForm.get('passwords.newPassword')?.hasError('pattern')">Password
                                should have
                                minimum 8 characters, at least
                                1 uppercase letter, 1 lowercase
                                letter and 1 number</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field color="accent">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" [type]="hidePassword ? 'password': 'text'"
                                required [errorStateMatcher]="confirmPasswordErrorMatcher">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="secondStepForm.get('passwords')?.hasError('passwordMismatch')">
                                Passwords
                                must match
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-buttons-container-space-between">
                    <button mat-raised-button matStepperPrevious color="primary" type="button"
                        [disabled]="resettingPassword">Back</button>
                    <button mat-raised-button color="warn" type="button"
                        [disabled]="secondStepForm.invalid || resettingPassword" (click)="resetPassword(stepper)"
                        [class.loading-animation]="resettingPassword">{{resettingPassword ? 'Resetting Password' : 'Reset
                        Password'}}</button>
                </div>
            </form>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>Password Reset Confirmation</ng-template>
            <p class="mat-body-1 align-center">Your password has been successfully reset and you can now login with your
                new
                credentials!</p>
            <div class="form-buttons-container-center">
                <button mat-raised-button [routerLink]="'/login'">Go To Login</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</section>