section
    display: flex
    align-items: center
    flex-direction: column

.forgot-password-stepper-container
    width: 70%
    padding: 35px
    border-radius: 4px

.page-heading
    margin-bottom: 15px
