/* You can add global styles to this file, and also import other style files */
@keyframes shake
    0%
        transform: rotate(0deg)
    80%
        transform: rotate(0deg)
    85%
        transform: rotate(2deg)
    95%
        transform: rotate(-2deg)
    100%
        transform: rotate(0deg)

@keyframes ellipsis
    0%
        content: ''
    25%
        content: '.'
    50%
        content: '..'
    75%
        content: '...'
    100%
        content: ''

body
    margin: 0px

a
    text-decoration: none
    color: #3d5af1

.material-dialog-backdrop
    background-color: black
    opacity: 0.7 !important

.mat-form-field
    width: 100%

*::-webkit-scrollbar
    width: 12px

*::-webkit-scrollbar-track
    background: transparent

*::-webkit-scrollbar-thumb
    background-color: gray

.form-group
    margin-bottom: 10px

.loading-animation
    &::after
        display: inline-block
        animation: ellipsis steps(1,end) 2.7s infinite
        content: ''

.mat-card,
.mat-dialog-container
    background-color: #CFEAEE
