@keyframes shake
    0%
        transform: rotate(0deg)
    80%
        transform: rotate(0deg)
    85%
        transform: rotate(2deg)
    95%
        transform: rotate(-2deg)
    100%
        transform: rotate(0deg)

@keyframes ellipsis
    0%
        content: ''
    25%
        content: '.'
    50%
        content: '..'
    75%
        content: '...'
    100%
        content: ''

@keyframes lighten
    0%
        opacity: 100%
    80%
        opacity: 65%
    85%
        opacity: 60%
    95%
        opacity: 55%
    100%
        opacity: 50%

body
    margin: 0px

a
    text-decoration: none
    color: #3d5af1

button
    &:disabled
        cursor: not-allowed !important

.cdk-overlay-dark-backdrop
    background: rgba(0,0,0,0.85)

.mat-form-field
    width: 100%

*::-webkit-scrollbar
    width: 12px

*::-webkit-scrollbar-track
    background: transparent

*::-webkit-scrollbar-thumb
    background-color: gray

.form-group
    margin-bottom: 10px !important

.loading-animation
    &::after
        display: inline-block
        animation: ellipsis steps(1,end) 2.7s infinite
        content: ''

.mat-card,
.mat-dialog-container,
.mat-stepper-horizontal
    background-color: #CFEAEE

.mat-dialog-content
    position: sticky !important

.buttons-container-right
    display: flex
    justify-content: flex-end

.buttons-container-center
    display: flex
    justify-content: center

.buttons-container-space-between
    display: flex
    justify-content: space-between

.align-center
    text-align: center

.snackbar
    background-color: #CFEAEE
    color: black

    .mat-simple-snackbar-action
        color: black

.rounded-corners
    border-radius: 5px !important

.box-shadow
    box-shadow: 0px 10px 25px grey !important

.owl-dt-inline-container,
.owl-dt-popup-container
    border-radius: 5px
    font-size: 0.85rem

.owl-date-picker-custom-container
    left: 35% !important
