/* You can add global styles to this file, and also import other style files */
@keyframes shake
    0%
        transform: rotate(0deg)
    80%
        transform: rotate(0deg)
    85%
        transform: rotate(2deg)
    95%
        transform: rotate(-2deg)
    100%
        transform: rotate(0deg)

body
    margin: 0px

.material-dialog-backdrop
    background-color: black
    opacity: 0.7 !important

.mat-form-field
    width: 100%

::ng-deep .mat-focused .mat-form-field-label
    color: white !important

::ng-deep.mat-form-field-underline
    background-color: green !important

::ng-deep.mat-form-field-ripple
    background-color: green !important
