<div id='container'>
    <div id='month_area'>
        <i class="fas fa-angle-left prev" (click)='prevMonth()'></i>
        <div id='full_date'>
            <h1>{{displayMonthString}}</h1>
            <p>{{fullDate}}</p>
        </div>
        <i class="fas fa-angle-right next" (click)='nextMonth()'></i>
    </div>
    <div id='days'>
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thur</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>
    <div id='date'>
        <div id='not_this_month' *ngFor='let in of counter(displayFirstDay); let i = index'>{{displayPrevMonthLastDate-displayFirstDay+i+1}}</div>
        <div *ngFor='let in of counter(displayLastDate) ;let i = index' (click)='openDateEventDialog(i+1)'>
            {{i+1}} <br>
            <span id='eventExists' *ngIf="hasEvent(i+1)">&#9679;</span>
        </div>
        <div id='not_this_month' *ngFor='let in of counter(42-displayLastDate-displayFirstDay) ;let i = index'>{{i+1}}</div>
        
    </div>

</div>
