<section class="container box-shadow">
    <div class='month-container'>
        <i class="fas fa-angle-left prev-month-arrow" (click)='prevMonth()'></i>
        <h1 class="selected-month-year">{{selectedMonth}} {{selectedYear}}</h1>
        <i class="fas fa-angle-right next-month-arrow" (click)='nextMonth()'></i>
    </div>
    <div class='days-of-week-container'>
        <div class="day-of-week" *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</div>
    </div>
    <div class='days-container'>
        <div class="prev-month-day day" *ngFor='let in of counter(firstDayOfMonth); let i = index'>
            <span [class.has-events-on-day]="hasEvent(i + 1)">{{prevMonthLastDay - firstDayOfMonth + i + 1}}</span>
        </div>
        <div class="day day-of-selected-month" *ngFor='let in of counter(lastDateOfMonth); let i = index'
            (click)='openDateEventDialog(i + 1)'>
            <span [class.current-day]="isToday(i + 1)">{{i + 1}}</span>
        </div>
        <div class="next-month-day day"
            *ngFor='let in of counter(42 - lastDateOfMonth - firstDayOfMonth); let i = index'>
            <span [class.has-events-on-day]="hasEvent(i + 1)">{{i + 1}}</span>
        </div>
    </div>
</section>