<section class="container box-shadow">
    <div class='month-container'>
        <i class="fas fa-angle-left prev-month-arrow" (click)='prevMonth()'></i>
        <h1 class="selected-month-year">{{selectedMonth}} {{selectedYear}}</h1>
        <i class="fas fa-angle-right next-month-arrow" (click)='nextMonth()'></i>
    </div>
    <div class='days-of-week-container'>
        <div class="day-of-week" *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</div>
    </div>
    <div class='days-container'>
        <div class="prev-month-day day" *ngFor='let in of counter(firstDayOfMonth); let date = index'>
            <span>{{prevMonthLastDay - firstDayOfMonth + date + 1}}</span>
            <span class="num-events"
                *ngIf="getEventsForDate(displayMonth - 1, prevMonthLastDay - firstDayOfMonth + date + 1).length">{{getEventsForDate(displayMonth - 1, prevMonthLastDay - firstDayOfMonth + date + 1).length}}</span>
        </div>
        <div class="day day-of-selected-month" *ngFor='let in of counter(lastDateOfMonth); let date = index'>
            <span class="calendar-day" [class.current-day]="isCurrentDate(date + 1)"
                (click)='openDateEventDialog(date + 1)'>{{date + 1}}</span>
            <span class="num-events"
                *ngIf="getEventsForDate(displayMonth, date + 1).length">{{getEventsForDate(displayMonth, date + 1).length}}</span>
        </div>
        <div class="next-month-day day"
            *ngFor='let in of counter(42 - lastDateOfMonth - firstDayOfMonth); let date = index'>
            <span>{{date + 1}}</span>
            <span class="num-events"
                *ngIf="getEventsForDate(displayMonth + 1, date + 1).length">{{getEventsForDate(displayMonth + 1, date + 1).length}}</span>
        </div>
    </div>
</section>