.event-item-container
    background-color: #e2f3f5
    margin-top: 20px
    cursor: pointer

    &:hover
        animation: shake 950ms infinite

    &:focus
        outline: none

    .event-header
        display: flex
        justify-content: space-between
        margin-bottom: 8px

    .num-people-attending
        text-align: right
