<h1 mat-dialog-title>Create Event</h1>
<section mat-dialog-content class="mat-typography">
    <form (ngSubmit)="createEvent()" #createEventForm="ngForm">
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="newEvent.name" name="name" required pattern=".*\S+.*" autocomplete="off">
                <mat-error>Name is a required field</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Location</mat-label>
                <input matInput [(ngModel)]="newEvent.location" name="location" required pattern=".*\S+.*"
                    autocomplete="off">
                <mat-error>Location is a required field</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker" required>
                    <input matStartDate placeholder="Start date" name="startDate" [(ngModel)]="newEvent.startDate">
                    <input matEndDate placeholder="End date" name="endDate" [(ngModel)]="newEvent.endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error>Date Range is a required field</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field color="accent">
                <mat-label>Description</mat-label>
                <textarea class="description-field" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3" cdkTextareaAutosize matInput [(ngModel)]="newEvent.description"
                    name="description" required pattern=".*\S+.*" autocomplete="off"></textarea>
                <mat-error>Description is a required field</mat-error>
            </mat-form-field>
        </div>
    </form>
</section>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="accent">Cancel</button>
    <button mat-flat-button color="warn" (click)="createEventForm.ngSubmit.emit()"
        [disabled]="!createEventForm.form.valid">Create</button>
</mat-dialog-actions>